.case {
    border-radius: 20px;
    background-color: rgba(32, 142, 102, 0.55);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    height: 17rem;
    width: 45rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-align: left;
}
