li {
    margin-bottom: 10px;
}
*{
    font-family: kanit;
    font-weight: 400;
}
.cool-link {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
body{
    background-color: #e2ffde;
}
.container{
    width: 700px;
    height: auto;
    background-color: #8af29f;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
}
.box{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 35px;
    margin: 15px;
}
.id{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.id i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999999;
}
.id input{
    width: 100%;
    padding: 5px 60px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #f5f5f5;
    border-radius: 40px;
}
.id input::placeholder{
    color: #999999;
    font-weight: 500;
}

.teach{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.teach i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999999;
}
.teach input{
    width: 100%;
    padding: 5px 60px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #f5f5f5;
    border-radius: 40px;
}
.teach input::placeholder{
    color: #999999;
    font-weight: 500;
}
.branch{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.branch i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999999;
}
.branch select{
    width: 100%;
    padding: 5px 60px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #f5f5f5;
    border-radius: 40px;
}

.name{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.name i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999999;
}
.name input{
    width: 100%;
    padding: 5px 60px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #f5f5f5;
    border-radius: 40px;
}
.name input::placeholder{
    color: #999999;
    font-weight: 500;
}
.price{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.price i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999999;
}
.price input{
    width: 100%;
    padding: 5px 60px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #f5f5f5;
    border-radius: 40px;
}
.price input::placeholder{
    color: #999999;
    font-weight: 500;
}
.concept{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.concept i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999999;
}
.concept textarea{
    width: 100%;
    height: auto;
    padding: 5px 60px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #f5f5f5;
    border-radius: 40px;
    word-wrap: break-word;
    word-break: break-all;
}
.concept input::placeholder{
    color: #999999;
    font-weight: 500;
}

.bt {
    background-color: #f2fdff;
    color: #5ddcf5;
}

.bt:hover {
    background-color: #5ddcf5;
    color: white;
}
