.date{
    margin-left: 8%;
    margin-right: 75%;
    margin-bottom: 15px;
}
.address{
    margin-left: 8%;
    margin-right: 45%;
    margin-bottom: 15px;
}
.info{
    margin-left: 8%;
    margin-right: 45%;
    margin-bottom: 15px;
}
.check{
    margin-left: 8%;
    margin-bottom: 15px;
}
.submit{
    margin-left: 8%;
    margin-bottom: 45px;
}